*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
.cache
.coverage
.coverage.*
.eggs/
.idea/
.installed.cfg
.Python
.tox/
build/
coverage.xml
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env/
htmlcov/
lib/
lib64/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
target/
var/
__pycache__/
